<h3><b>Licensing</b></h3>
<hr>
<div>
  <h4><b>Transfer of Copyright</b></h4>
  <hr>
  <p>
    1.  The copyright to this article is transferred to the Moroccan Journal of Technology
    and will be effective if and when the article is accepted for
    publication. The author(s) warrants that this work is original, has not been published
    earlier and is not currently under consideration for publication elsewhere and author(s)
    full right to make this grant.
  </p>
  <p>
    2.  The transfer of copyright gives Moroccan Journal of Technology the right to re-use commercially or non-commercially
    of this article, as long as
    the original author and source are properly attributed. In connection with this assignment,
    the Author acknowledges that Journal of Experimental Biology and Agricultural Sciences
    will have the right to print, publish, create derivative works, and sell the work throughout
    the world, all rights in and to all revisions or versions or subsequent editions of the work
    in all languages and media throughout the world.
  </p>
  <p>
    3.  The author(s) must not have any commercial associations (e.g., consultancies, stock ownership, equity interests, patent-licensing
    arrangements, etc.) that might pose a conflict of interest in connection with the submitted
    article, except as disclosed on a separate attachment. All funding sources supporting the
    work and all institutional or corporate affiliations will be acknowledged.
  </p>
</div>

