<div class="container-fluid">
  <p-table #dt [value]="articles" [(selection)]="selectedArticle" dataKey="id"
           styleClass="ui-table-submission" [rowHover]="true" [rows]="5"
           [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0"  >
    <ng-template pTemplate="caption">
      List of Submission
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="reviewer">Reviewer </th>
      </tr>
      <tr >
        <th>
          select
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')" placeholder="Search by Title" class="ui-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'type', 'contains')" placeholder="Search by Type" class="ui-column-filter">
        </th>
        <th>
          <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="ui-column-filter" placeholder="Submission Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
        </th>
        <th class="side">
          <p-dropdown [options]="statuses"  (onChange)="fiterStatus($event.value)" styleClass="ui-column-filter" placeholder="Select a Status" [showClear]="true">
            <ng-template let-option pTemplate="item">
              <span  [class]="'submission-badge status-' + option.value">{{option.label}}</span>
            </ng-template>
          </p-dropdown>
        </th>
        <th>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article let-i="rowIndex">
      <tr class="ui-selectable-row" >
        <td>
          <span (click)="scroll(target,i)" style="cursor: pointer; color: #007ad9; font-size: 12px">show details</span>
        </td>
        <td>
          <span class="ui-column-title">Title</span>
          {{article.title}}
        </td>
        <td>
          <span class="ui-column-title">Type</span>
          <span style="vertical-align: middle; margin-left: .5em">{{article.type}}</span>
        </td>
        <td>
          <span class="ui-column-title">Date</span>
          {{article.submitDate}}
        </td>
        <td>
          <span class="ui-column-title">Status</span>
          <span [class]="'submission-badge status-' + getValueStatus(article.status)">{{article.status}}</span>
        </td>
        <td>
          <span class="ui-column-title">Reviewer</span>
          <div  style="vertical-align: middle;" *ngFor="let a of article.userArticleDetails" psel>
            <a href="" class="authors" *ngIf="a.function === 'Reviewer'"> {{a.user.firstName}} {{a.user.lastName}}</a></div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" style="text-align:left">No submissions are assigned to you at the moment</td>
      </tr>
    </ng-template>
  </p-table>

  <div #target>
  <mat-card style="background-color: #eceff1" *ngIf="selected(selectedArticle)">
    <mat-card-header>
      <mat-card-title><h2>Submission</h2></mat-card-title>
      <mat-card-subtitle>View snippet of the submission</mat-card-subtitle>
    </mat-card-header>

    <div class="container" >

      <div>
        <header><h5>Type, Title & Abstract</h5></header>
        <table class="table col-md-12">
          <thead class="thead-light">
          <tr class="d-flex">
            <th class="col-md-2" scope="col">Field</th>
            <th class="col-md-10" scope="col">Info</th>
          </tr>
          </thead>
          <tbody>
          <tr class="d-flex">
            <td class="col-md-2">Manuscript Type</td>
            <td class="col-md-10">{{selectedArticle.type}}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Title</td>
            <td class="col-md-10">{{selectedArticle.title}}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Abstract</td>
            <td class="col-md-10">
              <p>
                {{selectedArticle.abstractt}}
              </p>
            </td>
          </tr>
          <tr class="d-flex" >
            <td class="col-md-2">Attributs</td>
            <td class="col-md-10" ><label class="tags" *ngFor="let t of selectedArticle.articleTags">{{t.tag.name}}</label></td>
          </tr>
          </tbody>
        </table>
      </div>
      <tfoot>
      <button mat-raised-button color="primary" class="btn btn-block" (click)="review()"
              style="margin-top: 20px" [routerLink]="'../paper-review'">Review this paper</button>
      </tfoot>
    </div>
    <div><span (click)="scrollToTop()" style="color: #007ad9;cursor: pointer">Top of the page</span></div>
  </mat-card>
  </div>

</div>
