<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4>Some Title Some TitleSome TitleSome Title Some Title Some Title Some Title
        Some Title Some Title Some Title Some Title Some Title Some Title Some Title</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">Published Date: 2020-06-06</div>
    <div class="col-md-12">Volume 1, Issue 1</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-outline-dark fa fa-file-pdf-o float-right"> PDF</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <b>Anouar Abouerraja</b>
      <div>The Faculty of sciences and technologies, Caddi Ayyad university, Marrakesh</div>
      <div><b>Author number2</b></div>
      <div><b>Author number3</b></div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h4>ABSTRACT</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstractSome
      abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
    </div>
  </div>
</div>
