<h3><b>Publication Ethics</b></h3>
<hr>
<div>
  <h4><b>Ethical Responsibilities of Authors</b></h4>
  Authors should refrain from misrepresenting research results which could damage the trust in the journal, the
  professionalism of scientific authorship, and ultimately the entire scientific endeavour. Maintaining integrity of
  the research and its presentation is helped by following the rules of good scientific practice, which include:
  <ul>
    <li>The manuscript should not be submitted to more than one journal for simultaneous consideration.</li>
    <li>The submitted work should be original and should not have been published elsewhere in any form or language (partially or in full),
      unless the new work concerns an expansion of previous work. (Please provide transparency on the re-use of material to avoid the
      concerns about text-recycling (‘self-plagiarism’).</li>
    <li>A single study should not be split up into several parts to increase the quantity of submissions and submitted to various journals
      or to one journal over time.</li>
    <li>Concurrent or secondary publication is sometimes justifiable, provided certain conditions are met. Examples include: translations
      or a manuscript that is intended for a different group of readers.</li>
    <li>Results should be presented clearly, honestly, and without fabrication, falsification or inappropriate data manipulation
      (including image based manipulation). Authors should adhere to discipline-specific rules for acquiring, selecting and processing data.</li>
    <li>No data, text, or theories by others are presented as if they were the author’s own (‘plagiarism’). Proper acknowledgements
      to other works must be given.</li>
  </ul>
</div>
<br>
<div>
  <h4><b>Ethical Responsibilities of Editors</b></h4>
  <p>
    The journal is committed to maintaining the highest level of integrity in the content published.
    All publication decisions are the responsibility of the journal editor or editors, who are respected scholars in good
    standing appointed by the journal. The editors are tasked with maintaining editorial principles
    and practices that conform to the conventions in their field. Editorial decisions are made following rigorous, fair, and timely
    peer review.
  </p>
</div>








