<h3><b>Author right</b></h3>
<hr>
<div>
  <h4><b>Copyright</b></h4>
  <p>
    Submission of a manuscript implies that the submitted work has not been published before (except as part of a thesis or
    report, or abstract); that it is not under consideration for publication elsewhere; that its publication has been approved
    by all co-authors. If and when the manuscript is accepted for publication, the author(s) still hold the copyright and retain
    publishing rights without restrictions. Authors or others are allowed to multiply article as long as not for commercial purposes.
    For the new invention, authors are suggested to manage its patent before published.
  </p>
</div>
<div>
  <h4><b>What rights do I retain as an MJT author?</b></h4>
  <ul>
    <li>The right, after publication by MJT, to use all or part of the Article and abstract, for your own
      personal use, including your own classroom teaching purposes.</li>
    <li>The right, after publication by MJT, to use all or part of the Article and abstract, in the preparation
      of derivative works, extension of the article into book-length or in other works, provided that a full acknowledgement is made
      to the original publication in the journal.</li>
    <li>The right to include the article in full or in part in a thesis or dissertation, provided that this not published commercially.</li>
  </ul>
</div>
