<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xs-12">
      <img class="logoImg" src="../../../assets/pictures/logo.png" alt="">
    </div>
    <div class="col-md-7 col-xs-1">
      <form action="" class="float-md-right">
        <div class="bg-light rounded rounded-pill shadow-sm ">
          <div class="input-group ">
            <input type="search" placeholder="Enter word" aria-describedby="button-addon1" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-3 col-xs-2 login d-flex justify-content-center">
      <div  class="col-md-4 d-flex justify-content-center"><em class="line"></em></div>
      <div class="col-md-4">
        <i class="fa fa-user-o" aria-hidden="true"></i>
        <a *ngIf="userService.authenticate()" [routerLink]="['user/profile']"> {{userService.user.email }}</a>
        <a *ngIf="!userService.authenticate()" [routerLink]="['user/login']" id="login" style="margin-left: 5px">Login</a></div>
      <div class="col-md-4" style=" padding-left: 0px">
        <i  class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <a *ngIf="!userService.authenticate()" [routerLink]="['user/register']"  id="register" style="margin-left: 5px;">Register</a>
        <a *ngIf="userService.authenticate()" [routerLink]="['home']"  id="logout" style="margin-left: 5px;">Log out</a>
      </div>
    </div>
  </div>

</div>
