

table {
  box-shadow: 0 1px 3px 0 #1E5991, 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.authors {
  text-decoration: none;
  color: #1E5991;
  margin-right: 10px;
  background-color: #eceff1;
  border-radius: 10px;
}
.fileTable{
  table-layout: fixed;
  word-wrap:break-word;
}


 body .ui-fileupload .ui-fileupload-buttonbar {
  background-color: #FFFFFF;
  border: none;
}


body .ui-fileupload .ui-fileupload-content{
  border: none;
  margin-bottom: 30px;
}
.ui-fileupload-row>div {
  display: inline-block;
  padding-top: 5px;
}
.ui-dropdown {
  display: block;
  position: relative;
  cursor: pointer;
  min-width: 12.5em;
  margin-left: 14px;
}
mat-card-title h2, mat-card-subtitle  {
  text-align: center;
  display: block;
}
.mat-card-header-text {
  margin: auto !important;
}
.mat-raised-button:not([class*=mat-elevation-z])  {
  margin: 10px 0px 9px 5px;
}
