<div class="navbar navbar-expand-md mb-4" role="navigation">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars" style="color: white"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Issues</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown1">
          <a routerLink="Issues"><li class="dropdown-item" href="#">
            Latest Issues
          </li></a>
          <a routerLink="Archive"> <li class="dropdown-item" href="#">Archive</li></a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown2</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown2">
          <li class="dropdown-item" href="#"><a>Action 2 A</a></li>
          <li class="dropdown-item" href="#"><a>Action 2 B</a></li>
          <li class="dropdown-item" href="#"><a>Action 2 C</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<script>

  $(document).ready(function () {

    $('.navbar .dropdown-item').on('click', function (e) {
      var $el = $(this).children('.dropdown-toggle');
      var $parent = $el.offsetParent(".dropdown-menu");
      $(this).parent("li").toggleClass('open');

      if (!$parent.parent().hasClass('navbar-nav')) {
        if ($parent.hasClass('show')) {
          $parent.removeClass('show');
          $el.next().removeClass('show');
          $el.next().css({"top": -999, "left": -999});
        } else {
          $parent.parent().find('.show').removeClass('show');
          $parent.addClass('show');
          $el.next().addClass('show');
          $el.next().css({"top": $el[0].offsetTop, "left": $parent.outerWidth() - 4});
        }
        e.preventDefault();
        e.stopPropagation();
      }
    });

    $('.navbar .dropdown').on('hidden.bs.dropdown', function () {
      $(this).find('li.dropdown').removeClass('show open');
      $(this).find('ul.dropdown-menu').removeClass('show open');
    });

  });
</script>

