.navbar {
  background-color: #1E5991;
  padding: 0px 16px;
}

.navbar .dropdown-toggle, .navbar .dropdown-menu a {
  cursor: pointer;
}
.nav-link {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  padding: 25px 20px;
}
.dropdown-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  color: #fff;
}

.dropdown-menu{
  background-color: #1a60a3;
  border: none;
  margin-top: 0px;
  border-radius: unset;
}
.nav-link:hover , .dropdown-toggle:hover{
  background-color: #1a60a3 ;
}
.nav-link:focus {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
  text-decoration: none;
  background-color: #1d6dba;
  color: white;
}
.navbar-nav {
  padding-left: 45px;
}
@media (min-width: 1600px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .5em;
    vertical-align: 0;
    border-bottom: .3em solid transparent;
    border-top: .3em solid transparent;
    border-left: .3em solid;
  }
}
