<div class="login-pf-page mx-auto">
  <div id="lg-header" class="login-pf-page-header">
    <img class="logo" src="../../../assets/pictures/ucalogo1.png" alt="">
  </div>
  <div class="card-pf mx-auto">
    <header class="login-pf-header">
      <h1 id="lg-page-title">Login</h1>
    </header>
    <div id="lg-content">
      <div id="lg-content-wrapper">
        <div id="lg-form">
          <div id="lg-form-wrapper">
            <form id="lg-form-login" action="" method="post">
              <div class="form-group">
                <label for="username" class="control-label">Email</label>
                <input tabindex="1" id="username" class="form-control" name="username" value="" type="text"
                       autofocus="" autocomplete="off">
              </div>

              <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input tabindex="2" id="password" class="form-control" name="password" type="password" autocomplete="off">
              </div>

              <div class="form-group login-pf-settings">
                <div id="lg-form-options">
                </div>
                <div class="">
                  <span class="lg-forgot float-right"><a tabindex="5" href="">Forgot your password?</a></span>
                </div>
              </div>

              <div id="lg-form-buttons" class="form-group">
                <input tabindex="4" class="btn btn-primary btn-block btn-lg" name="login" id="lg-login" type="submit" value="LOG IN">
              </div>
            </form>
          </div>
        </div>

        <div id="lg-info" class="login-pf-signup">
          <div id="lg-info-wrapper" class="">
            <div id="lg-registration">
              <span>Don't have an account? <a tabindex="6" href="">Sign up</a></span>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
