
.container-fluid{
  background-image:url("../../../../assets/pictures/white.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  margin-left: -60px;
  margin-top: 8px;
  font-weight: bold;
  color: #1E5991;
}

.logoImg {
  height: 70px;
  margin-left: 50px;
}
form {
  padding-top: 15px;
}
.login{
  margin-top: 20px;
}

.line  {
  border-left: 1px solid grey;
  height: 30px;
}
@media (max-width: 800px){
  form {
    padding-right: 25%;
    padding-left: 25%;
}
  .line {
    display: none;
  }
  .login{
    padding-right: 25%;
  }
  img {
    padding-left: 25%;
  }
}
a {
  color: #5785c2;
  text-decoration: none;
  font-weight: normal;
}
i {
  font-weight: bold;
  color: #5785c2;
}

