.register-page{
  background-image: url("../../../assets/pictures/lab.jpg");
  height: 950px;
}
.form {
  margin: auto;
  width: 50%;
  padding-top: 10%;
  width: 60vw;
}
.example-full-width {
  width: 100%;
}
.example-button-row button{
  margin-right: 10px;
  margin-top: 10px;
}
