<div class="register-page">
  <div class="form">
    <mat-horizontal-stepper linear #stepper >
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>General Information</ng-template>
          <p-card>
            <p-card>
              <p-header><h4 style="padding: 15px 15px">Personal Information</h4></p-header>
              <div class="row">
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Prefix</mat-label>
                    <select matNativeControl required>
                      <option value="Dr">Dr.</option>
                      <option value="Mr">Mr.</option>
                      <option value="Miss">Miss</option>
                      <option value="Mrs">Mrs.</option>
                      <option value="Ms">Ms.</option>
                      <option value="Prof">Prof.</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>First Name</mat-label>
                    <input formControlName="firstName" matInput placeholder="Enter your first name" required>
                    <mat-error *ngIf="firstName.hasError('required')">
                      First Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Middle Name</mat-label>
                    <input matInput placeholder="Enter your middle name" >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" matInput placeholder="Enter your last name" required>
                    <mat-error *ngIf="lastName.hasError('required')">
                      Last Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email"
                           placeholder="Re-enter your primary email" required>
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="email.hasError('email') &&
                        !email.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="email.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width" >
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="emailConf"
                           placeholder="Re-enter your primary email" required>
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailConf.hasError('email') &&
                        !emailConf.hasError('required')">
                      Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailConf.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Degree</mat-label>
                    <input matInput placeholder="Enter your degree" >
                  </mat-form-field>
                </div>
              </div>
              <p-card>
                <p-header>
                  <h5 style="padding: 15px 15px">Adress</h5>
                </p-header>
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field class="example-full-width">
                      <mat-label>Adress</mat-label>
                      <input matInput placeholder="Enter your adress" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Country / Region</mat-label>
                      <input matInput placeholder="Enter your country / region" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>State / Province</mat-label>
                      <input matInput placeholder="Enter your state / province" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>City</mat-label>
                      <input matInput placeholder="Enter your city" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <mat-label>Postal Code</mat-label>
                      <input matInput placeholder="Enter your postal code" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <mat-label>Phone</mat-label>
                      <input matInput placeholder="Enter your phone" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Fax</mat-label>
                      <input matInput placeholder="Enter your fax" >
                    </mat-form-field>
                  </div>
                </div>
              </p-card>
            </p-card>
            <hr>
            <p-card>
              <p-header><h4 style="padding: 15px 15px">Institution</h4></p-header>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Institution Name</mat-label>
                    <input formControlName="institution" matInput placeholder="Enter your institution's Name" required>
                    <mat-error *ngIf="institution.hasError('required')">
                      Institution's Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Department</mat-label>
                    <input  matInput placeholder="Enter your department" >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Full Adress</mat-label>
                    <input  matInput placeholder="Enter the institution's full adress" >
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>Phone/Fax Number</mat-label>
                    <input matInput placeholder="Enter the institution's phone/fax number" >
                  </mat-form-field>
                </div>
              </div>
            </p-card>
          </p-card>
          <div>
            <p-footer >
              <button mat-button matStepperNext class="btn btn-block btn-primary float-right">Next</button>
            </p-footer>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" >
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Authentication Information </ng-template>
          <p-card>
            <div class="row">
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>User Name</mat-label>
                  <input formControlName="userName" matInput placeholder="Enter your user name" >
                  <mat-error *ngIf="userName.hasError('required')">
                    User Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Password</mat-label>
                  <input formControlName="pwd" type="password" matInput placeholder="Enter your Password" >
                  <mat-error *ngIf="pwd.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="example-full-width">
                  <mat-label>Confirm Password</mat-label>
                  <input formControlName="pwdConf" type="password" matInput placeholder="Re-enter your Password" >
                  <mat-error *ngIf="pwdConf.hasError('required')">
                    Password confirmation is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </p-card>
            <div style="padding-top: 10px">
              <button mat-button matStepperNext class="btn btn-primary float-right">Next</button>
              <button mat-button matStepperPrevious class="btn btn-outline-light float-right" style="color: #555555">Back</button>
            </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>User info to be displayed here</div>
          <div style="padding-top: 10px">
            <button mat-button class="btn btn-outline-success float-right">Save</button>
            <button mat-button matStepperNext (click)="stepper.reset()" class="btn btn-outline-danger float-right">Reset</button>
            <button mat-button matStepperPrevious class="btn btn-outline-light float-right" style="color: #555555">Back</button>
          </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

</div>
