<div class="container">
  <p-table #dt [value]="articles"  selectionMode="single"  dataKey="vin"
           styleClass="ui-table-submission" [rowHover]="true" [rows]="10"
           [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0" >
    <ng-template pTemplate="caption">
      List of Accepted Articles
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
        <th pSortableColumn="submitDate">Date <p-sortIcon field="submitDate"></p-sortIcon></th>
        <th ></th>
        <th > </th>
        <th > </th>
      </tr>
      <tr >
        <th>
          select
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'title', 'contains')" placeholder="Search by Title" class="ui-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'type', 'contains')" placeholder="Search by Type" class="ui-column-filter">
        </th>
        <th>
          <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'submitDate', 'equals')" [showButtonBar]="true" styleClass="ui-column-filter" placeholder="Registration Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
        </th>
        <th>
          Status
        </th>
        <th>Author
        </th>
        <th>Reviewer
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article let-i="rowIndex">
      <tr>
        <td>
          <span (click)="scroll(target,i)" style="cursor: pointer; color: #007ad9; font-size: 12px">show details</span>
        </td>
        <td>
          <span class="ui-column-title">Title</span>
          {{article.title}}
        </td>
        <td>
          <span class="ui-column-title">Type</span>
          <span style="vertical-align: middle; margin-left: .5em">{{article.type}}</span>
        </td>
        <td>
          <span class="ui-column-title">Date</span>
          {{article.submitDate}}
        </td>
        <td>
          <span class="ui-column-title">Status</span>
          <span [class]="'submission-badge status-accepted'">{{article.status}}</span>
        </td>
        <td>
          <span class="ui-column-title">Author</span>
          <div  style="vertical-align: middle;" *ngFor="let a of article.userArticleDetails">
            <a href="" class="authors tags" *ngIf="a.function === 'Author'">{{a.user.firstName}} {{a.user.lastName}}</a></div>
        </td>
        <td>
          <span class="ui-column-title">Reviewer</span>
          <div  style="vertical-align: middle;" *ngFor="let a of article.userArticleDetails" >
            <a href="" class="authors" *ngIf="a.function === 'Reviewer'"> {{a.user.firstName}} {{a.user.lastName}}</a></div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7" style="text-align:left">No articles found.</td>
      </tr>
    </ng-template>
  </p-table>

 <div #target >
   <p-tabView *ngIf="selectedArticle">
     <p-tabPanel header="Details" tooltip="View more detail of the article">
    <mat-card >
          <mat-card-header>
            <mat-card-title><h2>Article</h2></mat-card-title>
            <mat-card-subtitle>View the full submission</mat-card-subtitle>
          </mat-card-header>

          <div class="container" >
            <div>
              <header><h5>Type, Title & Abstract</h5></header>
              <table class="table col-md-12">
                <thead class="thead-light">
                <tr class="d-flex">
                  <th class="col-md-2" scope="col">Field</th>
                  <th class="col-md-10" scope="col">Info</th>
                </tr>
                </thead>
                <tbody>
                <tr class="d-flex">
                  <td class="col-md-2">Manuscript Type</td>
                  <td class="col-md-10">{{selectedArticle.type}}</td>
                </tr>
                <tr class="d-flex">
                  <td class="col-md-2">Title</td>
                  <td class="col-md-10">{{selectedArticle.title}}</td>
                </tr>
                <tr class="d-flex">
                  <td class="col-md-2">Abstract</td>
                  <td class="col-md-10">
                    <p>
                      {{selectedArticle.abstractt}}
                    </p>
                  </td>
                </tr>
                <tr class="d-flex" >
                  <td class="col-md-2">Attributs</td>
                  <td class="col-md-10" ><label class="tags" *ngFor="let t of selectedArticle.articleTags">{{t.tag.name}}</label></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div >
              <header><h5>Files</h5></header>
              <table class="table col-md-12">
                <thead class="thead-light">
                <tr class="d-flex">
                  <th class="col-md-2" scope="col">File</th>
                  <th class="col-md-2" scope="col">Type</th>
                  <th class="col-md-8" scope="col">Link</th>
                </tr>
                </thead>
                <tbody *ngFor="let f of selectedArticle.fileInfos; index as i">
                <tr class="d-flex">
                  <td class="col-md-2">File {{i+1}}</td>
                  <td class="col-md-2"> {{f.type}}</td>
                  <td class="col-md-8"><a href="{{f.url}}" target="_blank">{{f.url}}</a></td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </mat-card>
     </p-tabPanel>
     <p-tabPanel header="Publish Article" tooltip="Add Article To Issue">
       <mat-card>
         <mat-card-header>
           <mat-card-title><h2>Add Article To Issue</h2></mat-card-title>
           <mat-card-subtitle>Add this article to an issue</mat-card-subtitle>
         </mat-card-header>
         <mat-card-content >
           <p-messages [(value)]="message"></p-messages>
           <div class="row">
             <div class="col-md-5">
               <p-table [scrollable]="true" [value]="volumes" [loading]="loadingv" scrollHeight="200px" >
                 <ng-template pTemplate="header">
                   <tr>
                     <th pSortableColumn="number" width="50">Vol Number <p-sortIcon field="number"></p-sortIcon></th>
                     <th pSortableColumn="year" width="50">Year <p-sortIcon field="year"></p-sortIcon></th>
                     <th width="10">select</th>
                   </tr>
                 </ng-template>
                 <ng-template pTemplate="body" let-volume let-i="rowIndex">
                   <tr>
                     <td width="50">Vol {{volume.number}}</td>
                     <td width="50">{{volume.year}}</td>
                     <td width="10"><span (click)="showIssues(i)" class="select">select</span></td>
                   </tr>
                 </ng-template>
               </p-table>
             </div>
             <div *ngIf="issues" class="col-md-7">
               <div *ngIf="issues.length === 0">This volumes doesn't contain any issue at the moment!</div>
               <div *ngIf="issues.length !== 0" >
                 <div class="col-md-12">
                   <p-table [scrollable]="true" [value]="issues"  scrollHeight="200px">
                     <ng-template pTemplate="header">
                       <tr>
                         <th pSortableColumn="number" width="50">Issue Number <p-sortIcon field="number"></p-sortIcon></th>
                         <th pSortableColumn="status" width="40">Status <p-sortIcon field="status"></p-sortIcon></th>
                         <th pSortableColumn="articles.length" width="40">article Numbers<p-sortIcon field="articles.length"></p-sortIcon></th>
                         <th width="20">select</th>
                       </tr>
                     </ng-template>
                     <ng-template pTemplate="body" let-issue let-i="rowIndex">
                       <tr>
                         <td width="50">Issue {{issue.number}}</td>
                         <td width="40">{{issue.status}}</td>
                         <td width="40">{{issue.publisheds.length}}</td>
                         <td width="20"><span (click)="selectIssues(i)" class="select">select</span></td>
                       </tr>
                     </ng-template>
                   </p-table>
                 </div>
                 <br>
                 <div class="col-md-12">
                   <div *ngIf="chosenVolume">
                     <h5>Selected Issue :</h5>
                   </div>
                   <div class="row" *ngIf="chosenVolume">
                     <div class="col-md-6">Volume's number : <b>{{chosenVolume.number}}</b></div>
                     <div class="col-md-6">Volume's year : <b>{{chosenVolume.year}}</b></div>
                   </div>
                   <div class="row" *ngIf="chosenIssue">
                     <div class="col-md-6">Issue's number : <b>{{chosenIssue.number}}</b></div>
                     <div class="col-md-6">Issue's status : <b>{{chosenIssue.status}}</b></div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <p-confirmDialog [style]="{width: '40vw'}" [baseZIndex]="100000"></p-confirmDialog>
           <div class="footer-button" style="height: 20px; margin: 5px 0px">
             <button *ngIf="!progress"  mat-raised-button color="primary" class="float-right" (click)="addToSubmit()"> Add</button>
             <mat-progress-bar mode="indeterminate" *ngIf="progress"></mat-progress-bar>
           </div>
         </mat-card-content>
       </mat-card>
     </p-tabPanel>
   </p-tabView>
  </div>

</div>


