<div class="container-fluid">
  <p-table #dt [value]="submissions" [(selection)]="selectedSubmission" dataKey="id"
           styleClass="ui-table-submission" [rowHover]="true"
           [showCurrentPageReport]="true" [loading]="loading"
           [paginator]="false" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [filterDelay]="0" >
    <ng-template pTemplate="caption">
      List of Submission
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="name">Title <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="type">Type <p-sortIcon field="type"></p-sortIcon></th>
        <th pSortableColumn="author">Author <p-sortIcon field="author"></p-sortIcon></th>
        <th pSortableColumn="reviewer">Reviewer <p-sortIcon field="reviewer"></p-sortIcon></th>
        <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
        <th pSortableColumn="status.value">Status <p-sortIcon field="status.value"></p-sortIcon></th>
        <th></th>
      </tr>
      <tr >
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')" placeholder="Search by Title" class="ui-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'type', 'contains')" placeholder="Search by Type" class="ui-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'author', 'contains')"
                 placeholder="Search by Author" class="ui-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'reviewer', 'contains')" placeholder="Search by Reviewer" class="ui-column-filter">
        </th>
        <th>
          <p-calendar (onSelect)="onDateSelect($event)" (onClearClick)="dt.filter('', 'date', 'equals')" [showButtonBar]="true" styleClass="ui-column-filter" placeholder="Registration Date" [readonlyInput]="true" dateFormat="yy-mm-dd"></p-calendar>
        </th>
        <th class="side">
          <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status.value', 'equals')" styleClass="ui-column-filter" placeholder="Select a Status" [showClear]="true">
            <ng-template let-option pTemplate="item">
              <span [class]="'submission-badge status-' + option.value">{{option.label}}</span>
            </ng-template>
          </p-dropdown>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-submission>
      <tr class="ui-selectable-row" >
        <td>
          <p-tableCheckbox [value]="submission"></p-tableCheckbox>
        </td>
        <td>
          <span class="ui-column-title">Title</span>
          {{submission.name}}
        </td>
        <td>
          <span class="ui-column-title">Type</span>
          <span style="vertical-align: middle; margin-left: .5em">{{submission.genre}}</span>
        </td>
        <td>
          <span class="ui-column-title">Author</span>
          <span style="vertical-align: middle; margin-left: .5em">{{submission.reviewer}}</span>
        </td>
        <td>
          <span class="ui-column-title">Reviewer</span>
          <span style="vertical-align: middle; margin-left: .5em">{{submission.author}}</span>
        </td>
        <td>
          <span class="ui-column-title">Date</span>
          {{submission.date}}
        </td>
        <td>
          <span class="ui-column-title">Status</span>
          <span [class]="'submission-badge status-' + submission.status.value">{{submission.status.label}}</span>
        </td>
        <td>
          <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog" (click)="showDialog()"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align:left">No submissions found.</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [style]="{width: '50vw'}" [(visible)]="display"  [resizable]="true">

  </p-dialog>

  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>Submission</h2></mat-card-title>
      <mat-card-subtitle>View the full submission</mat-card-subtitle>
    </mat-card-header>

    <div class="container">
      <div >
        <header><h5>Author's Information</h5></header>
        <table class="table col-md-12">
          <thead class="thead-light">
          <tr class="d-flex">
            <th class="col-md-2" scope="col">Field</th>
            <th class="col-md-10" scope="col">Info</th>
          </tr>
          </thead>
          <tbody>
          <tr class="d-flex">
            <td class="col-md-2">Author 1</td>
            <td class="col-md-10">
              <div class="fullName">Anouar Abouerraja</div>
              <mat-divider></mat-divider>
              <div class="email">anouarabouerraja@gmail.com</div>
              <mat-divider></mat-divider>
              <div class="institution">The faculty Of Scineces and Technologies Gueliz, Department, Marrakesh, 40000 , Ma</div>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Author 2</td>
            <td class="col-md-10">
              <div class="fullName">Anouar Abouerraja</div>
              <div class="email">anouarabouerraja@gmail.com</div>
              <div class="institution">The faculty Of Scineces and Technologies Gueliz, Department, Marrakesh, 40000 , Ma</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>


      <div>
        <header><h5>Type, Title & Abstract</h5></header>
        <table class="table col-md-12">
          <thead class="thead-light">
          <tr class="d-flex">
            <th class="col-md-2" scope="col">Field</th>
            <th class="col-md-10" scope="col">Info</th>
          </tr>
          </thead>
          <tbody>
          <tr class="d-flex">
            <td class="col-md-2">Manuscript Type</td>
            <td class="col-md-10">Paper</td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Title</td>
            <td class="col-md-10">This is The title</td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Abstract</td>
            <td class="col-md-10">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                accusantium, ad aperiam aut earum et illum inventore libero
                placeat quod quos saepe vitae voluptatum! Dolores omnis placeat quidem quo similique!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A
                accusantium, ad aperiam aut earum et illum inventore libero
                placeat quod quos saepe vitae voluptatum! Dolores omnis placeat quidem quo similique!
              </p>
            </td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Attributs</td>
            <td class="col-md-10">IT, Distributed Systems</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div >
        <header><h5>Files</h5></header>
        <table class="table col-md-12">
          <thead class="thead-light">
          <tr class="d-flex">
            <th class="col-md-2" scope="col">File</th>
            <th class="col-md-2" scope="col">Type</th>
            <th class="col-md-8" scope="col">Link</th>
          </tr>
          </thead>
          <tbody>
          <tr class="d-flex">
            <td class="col-md-2">File 1 </td>
            <td class="col-md-2"> Main Manuscript</td>
            <td class="col-md-8">jskdkjksdf_dfs.pdf </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </mat-card>

  <mat-card>

  </mat-card>

</div>

