<div class="container col-md-12">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h5 class="main-title"><span class="thin">Volume 1</span> Issue 1</h5>
    </div>
    <div class="col-md-12 main-body">
          <div class="row">
            <div class="col-md-8 issue-block">
              <div class="row first-row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 title">
                    <span >Latest Issue</span>
                  </div></div>
                    <div class="row first-row-block">
                      <div class="col-md-12">
                        <div class="row main-article">
                          <div class="col-md-12 issue">
                              <app-issue></app-issue>
                              <div class="row options">
                                <div class="col-md-12 ">
                                  <div class="row">
                                    <div class="col-md-6">
                                      13 Apr 2020
                                    </div>
                                    <div class="col-md-6">
                                      <button class="btn btn-outline-dark fa fa-file-pdf-o float-right"> PDF</button>
                                      <button class="btn btn-outline-dark fa fa-bars float-right"
                                              data-toggle="collapse" href="#collapseExample1"
                                              aria-expanded="false" aria-controls="collapseExample1"> Abstract</button>
                                    </div>
                                    <div class="col-md-12 collapse abstract" id="collapseExample1">
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstractSome abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                      Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    </div>
                                  </div>

                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row main-article">
                          <div class="col-md-12 issue">
                            <app-issue></app-issue>
                            <div class="row options">
                              <div class="col-md-12 ">
                                <div class="row">
                                  <div class="col-md-6">
                                    13 Apr 2020
                                  </div>
                                  <div class="col-md-6">
                                    <button class="btn btn-outline-dark fa fa-file-pdf-o float-right"> PDF</button>
                                    <button class="btn btn-outline-dark fa fa-bars float-right"
                                            data-toggle="collapse" href="#collapseExample2"
                                            aria-expanded="false" aria-controls="collapseExample2"> Abstract</button>
                                  </div>
                                  <div class="col-md-12 collapse abstract" id="collapseExample2">
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstractSome abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row main-article">
                          <div class="col-md-12 issue">
                            <app-issue></app-issue>
                            <div class="row options">
                              <div class="col-md-12 ">
                                <div class="row">
                                  <div class="col-md-6">
                                    13 Apr 2020
                                  </div>
                                  <div class="col-md-6">
                                    <button class="btn btn-outline-dark fa fa-file-pdf-o float-right"> PDF</button>
                                    <button class="btn btn-outline-dark fa fa-bars float-right"
                                            data-toggle="collapse" href="#collapseExample2"
                                            aria-expanded="false" aria-controls="collapseExample2"> Abstract</button>
                                  </div>
                                  <div class="col-md-12 collapse abstract" id="collapseExample2">
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstractSome abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row main-article">
                          <div class="col-md-12 issue">
                            <app-issue></app-issue>
                            <div class="row options">
                              <div class="col-md-12 ">
                                <div class="row">
                                  <div class="col-md-6">
                                    13 Apr 2020
                                  </div>
                                  <div class="col-md-6">
                                    <button class="btn btn-outline-dark fa fa-file-pdf-o float-right"> PDF</button>
                                    <button class="btn btn-outline-dark fa fa-bars float-right"
                                            data-toggle="collapse" href="#collapseExample2"
                                            aria-expanded="false" aria-controls="collapseExample2"> Abstract</button>
                                  </div>
                                  <div class="col-md-12 collapse abstract" id="collapseExample2">
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstractSome abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstractSome abstract
                                    Some abstract Some abstractSome abstract Some abstract Some abstract Some abstract
                                  </div>
                                </div>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="col-md-12 previous-issues">
                          <a [routerLink]="['../all-issues']" class="float-right"> See All Issues <span class="fa fa-arrow-circle-right"></span></a>
                        </div>

                    </div>
                </div>

              </div>

            </div>
            <div class="col-md-4">
              <div class="row article ">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 title">
                      Most Read
                    </div>
                  </div>
                  <div class="row sub-title">Of all published articles, this is the most read</div>
                  <div class="row most-read">
                    <app-issue></app-issue>
                  </div>
                  <div class="row most-read">
                    <app-issue></app-issue>
                  </div>
                  <div class="row most-read">
                    <app-issue></app-issue>
                  </div>
                  <div class="row most-read">
                    <app-issue></app-issue>
                  </div>
                </div>
              </div>
            </div>
           </div>
        </div>
      </div>

