<div class="container col-md-12">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h5 class="main-title"><span class="thin">Volume {{issue.volume.number}}</span> Issue {{issue.number}}</h5>
      <div class="hsub-title"><b>{{issue.startMonth}} - {{issue.endMonth}} | {{issue.volume.year}}</b></div>
    </div>
    <div class="col-md-12 main-body">
          <div class="row">
            <div class="col-md-8 issue-block">
              <div class="row first-row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 latest-issue">
                    <span class="title">Latest Issue</span>
                  </div></div>
                    <div class="row first-row-block" >
                      <div class="col-md-12" *ngFor="let a of issue.publisheds; index as i">
                        <div class="row main-article">
                          <div class="col-md-12 issue">
                            <div class="col-md-12 ">
                              <div class="article-title">{{a.article.title}}</div>
                              <div class="article-authors">
                        <span *ngFor="let u of a.article.userArticleDetails">
                          <span class="tags" *ngIf="u.mainAuthorCheck !== -1">{{u.user.lastName}} {{u.user.lastName}} </span>
                        </span>
                              </div>
                              <div class="volume">Vol {{issue.volume.number}}, Issue {{issue.number}}</div>
                              <div >
                                {{a.article.submitDate}}
                              </div>
                            </div>
                              <div class="row options">
                                    <div class="col-md-12">
                                      <a [href]="getpdfLink(a.article)" target="_blank"><button *ngIf="pdfexist(a.article)" class="btn btn-outline-dark fa fa-file-pdf-o float-right">
                                        PDF</button></a>
                                      <a class="btn btn-outline-dark fa fa-bars float-right"
                                              data-toggle="collapse" href="#collapseExample-{{i}}"
                                              aria-expanded="false" > Abstract</a>

                                    </div>
                                    <div class="col-md-12 collapse abstract" id="collapseExample-{{i}}">
                                      {{a.article.abstractt}}
                                    </div>
                              </div>
                          </div>
                        </div>
                      </div>
                        <div class="col-md-12 previous-issues">
                          <a [routerLink]="['../all-issues']" class="float-right"> See All Issues <span class="fa fa-arrow-circle-right"></span></a>
                        </div>

                    </div>
                </div>

              </div>

            </div>
            <div class="col-md-4">
              <div class="row article ">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 latest-issue">
                     <span class="title">Most Read</span>
                    </div>
                  </div>
                  <div class="row sub-title">Of all published articles, this is the most read</div>
                  <div class="row most-read" *ngFor="let a of issue.articles; index as i">{{setArticle(a)}}
                    <app-issue></app-issue>
                  </div>
                </div>
              </div>
            </div>
           </div>
        </div>
      </div>

