<h3><b>General Terms & Conditions</b></h3>
<hr>
<div>
  <h4><b>Access To The Content</b></h4>
  <ul>
    <li>Access by Authorized Users of an Institutional Subscriber shall be governed by these Terms and Conditions of Use and any
      license agreement between the Press and the Institutional Subscriber. In the event of any conflict between these Terms and
      Conditions of Use and the license agreement, the latter shall prevail.</li>
    <li>Institutional Subscribers are responsible for undertaking reasonable measures to prevent access by unauthorized persons
      to authorized IP addresses, and are responsible for terminating any unauthorized access of which the institution has actual
      notice or knowledge. Institutional Subscribers will not be held responsible for unauthorized use of the Content provided (i)
      such use is without the express or implied consent of the Institutional Subscriber; (ii) the Institutional Subscriber promptly
      notifies the Press of any such use of which it becomes aware; and (iii) the Institutional Subscriber takes all reasonable steps
      to terminate such activity promptly. The Press reserves the right to deny access immediately if unauthorized use is detected or
      suspected; however, denial of access will be limited, to the extent practicable, to the IP address(es) from which the activity
      originated. The Press agrees to notify promptly the Institutional Subscriber of any denial of access; to cooperate with the
      Institutional Subscriber in terminating such activity; and to restore access to the affected IP address(es) within one business
      day of successful resolution of the situation. Failure to take reasonable steps to terminate unauthorized activity within thirty
      (30) days of notice from the Press of such activity or repeated usage violation from the authorized IP addresses of the
      Institutional Subscriber may result in suspension or termination of access.</li>
    <li>Authorized Users may not authorize use of the Journal by anyone who is not an authorized user. Usernames and passwords for
      access to the Journal are for the personal use of the subscriber or society member and may not be shared.</li>
    <li>The Press reserves the right to deny access to a username or password immediately if unauthorized use is detected or
      suspected, and to use its best efforts to notify the subscriber or society member of any denial of access. The Press agrees
      to restore access to the username and password within one business day of successful resolution of the situation.</li>
    <li>The Press website will meet the generally accepted requirements of W3C AA and U.S. federal Section 508 accessibility
      standards. The Press and its platform provider Atypon are not responsible for maintaining third-party software integrated
      into the website for accessibility compatibility. Certain accessibility requirements for W3C AA and Section 508 are subject
      to interpretation and the interpretation of Atypon shall in all such cases be the accepted interpretation for the purpose of
      accessibility compliance. Upon request, Atypon will provide references to Institutional Subscribers and resources that can
      provide a site accessibility audit. Institutional Subscribers have the right to adapt the Content for its Authorized Users
      in order to comply with federal and state accessibility law.</li>
  </ul>
</div>

<div>
  <h4><b>Permitted Use of The Content</b></h4>
  <ul>
    <li>Any Authorized User may search, view, download, copy, and save Content as set forth below.
    <ul><li>An Authorized User may use the Content for personal scholarly or research activities, including printing, downloading,
      and saving of single copies of individual Articles for private use or research.</li>
      <li>An Authorized User may transmit a printed or electronic copy of any single Article, in whole or in part, to an
        individual who is not an Authorized User provided such transmission is (i) not for compensation, (ii) for
        purposes of scholarly exchange of ideas, and (iii) not part of any systematic provision of Content to such
        individual or any third party. Transmission of Articles via publicly accessible websites, social media, or
        article-sharing platforms including, but not limited to, Facebook, Twitter, LinkedIn, Academia.edu, SSRN, and
        ResearchGate, is prohibited.
      </li>
      <li>An Institutional Subscriber may copy or print Articles on behalf of its members as set forth in sections 3.1.1
        and 3.1.2, and may charge a reasonable fee to recover the costs of such activity.
      </li>
    </ul>
    </li>
    <li>All copyright and other notices contained in the Content must be maintained when Content is used as set forth herein.</li>
    <li>Some Content may be made available under license terms as indicated on the Content that permit certain uses that are
      otherwise prohibited by these Terms and Conditions of Use.</li>
  </ul>
</div>
<div>
  <h4><b>Prohibited Use of The Content</b></h4>
  <ul>
    <li>Any use not set forth as permitted in these Terms and Conditions of Use is prohibited without the express written
      permission of the Press and may result in suspension or termination of access. Prohibited uses include but are not
      limited to the following.
    <ul>
      <li>Distribution of the Content for advertising or other marketing purposes.</li>
      <li>Exploitation of the Content for commercial gain, including but not limited to the licensing or sale of Content.</li>
      <li> Provision of access to the Content to individuals or entities who are not Authorized Users.</li>
      <li>Any attempt to override, circumvent, or disable encryption or security features employed in the Content or on the Press’s website.</li>
   <li>Use of automated software to access, download, or make copies of Content, except as set forth in section 3.1 or otherwise agreed to by the Press.</li>
    </ul></li>
  </ul>
</div>
