<div class="foote">
  <div class="row">
    <div class="col-md-9 infos">
        <div>
          Moroccan Journal of Technology
        </div>
        <div>
          Department of Technology
        </div>
        <div>
          Faculty of Sciences and Technologies
        </div>
        <div >
          Caddi Ayyad University
        </div>
        <div>
          B.P 549, Av.Abdelkarim Elkhattabi, Guéliz Marrakesh
        </div>
        <div>
          Email: m.journal.technology@gmail.com
        </div>
    </div>
    <div class="col-md-3 associations">
      <div class="row">
        <a href="https://www.uca.ma/" target="_blank"><img class="uca" src="../../assets/pictures/ucaLogo.png" alt=""></a>
      </div>
      <div class="row">
        <a href="http://www.fstg-marrakech.ac.ma/" target="_blank"><img class="fst" src="../../assets/pictures/fstlogo.png" alt=""></a>
      </div>
    </div>
  </div>
</div>

