.associations{
  text-align: center;
  margin-top: 10px;
}
.foote{
  background-color: #ccd4cc;
  padding: 30px;
}
img {
  box-sizing: border-box;
}
.uca {
  width: 260px;
  height: 70px;
}
.fst {
  width: 60px;
  height: 60px;
}

.associations a {
  margin-right: 20px;
  color: black;
}
.footer {
  margin-top: 10px;
  height: 60px;
}
.footer img {
  width: 60px;
  height: 60px;
}
.footer div {
  text-align: center;
}
.footer a  {
  display: inline-block;
  margin-left: 17px;
  margin-right: 15px;
  margin-top: 20px;
  text-decoration: none;
  color: black;
}
.infos div{
  margin-top: 2px;
}
.associations .row a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
