<h3><b>Submission Guidelines</b></h3>
<hr>
<h4><b>Manuscript Submission</b></h4>
<p>
  Submission of a manuscript implies: that the work described has not been published before; that it is not under
  consideration for publication anywhere else; that its publication has been approved by all co-authors, if any, as well
  as by the responsible authorities – tacitly or explicitly – at the institute where the work has been carried out. The
  publisher will not be held legally responsible should there be any claims for compensation.
</p>
<h4><b>Permissions</b></h4>
<p>
  Authors wishing to include figures, tables, or text passages that have already been published elsewhere are required to
  obtain permission from the copyright owner(s) for both the print and online format and to include evidence that such
  permission has been granted when submitting their papers. Any material received without such evidence will be assumed to
  originate from the authors.
</p>

<h4><b>Online Submission</b></h4>
<p>Please follow the hyperlink “Submit a Manuscript” on the right and upload all of your manuscript files following the steps
  provided.
  Please ensure you provide all relevant editable source files. Failing to submit these source files might cause unnecessary
  delays in the review and production process.
</p>

<br><hr><br>
<h4><b>Manuscript Organization</b></h4>
  <b>The first page</b> of the manuscript should include:
  <ul style="">
  <li>Title</li>
  <li>Full name(s) of author(s) (the corresponding
    author should be indicated)</li>
  <li>Address(es) of author(s) (including fax and
    email address for the corresponding author)</li>
</ul>
<p>
  <b>The second page</b> should include title, abstract, and
  keywords. Do not type the author(s) identities on
  this page.
</p>
  <b>The subsequent pages</b> should include:
  <ul>
  <li>Introduction</li>
  <li>Materials and Methods</li>
  <li>Results and Discussion</li>
  <li>Conclusion</li>
  <li>Acknowledgement (if any)</li>
  <li>References</li>
  <li>Table</li>
  <li>Figures and figures’ legend</li>
</ul>
  Review, policies analysis, and research notes do
  not have to follow the above organization. The
  maximum page number for a research note is five pages
  including Table and Figures; introduction and methods
  should shortly written and without abstract.

<br><br><hr><br>
<h4><b>English Language Editing</b></h4>
For editors and reviewers to accurately assess the work presented in your manuscript you need to ensure the English
language is of sufficient quality to be understood. If you need help with writing in English you should consider:
<ul>
  <li>Asking a colleague who is a native English speaker to review your manuscript for clarity.</li>
  <li>Visiting the English language tutorial which covers the common mistakes when writing in English.</li>
  <li>Using a professional language editing service where editors will improve the English to ensure that your meaning is clear
    and identify problems that require your review.</li>
</ul>

<br><hr><br>
<div>
  <h4><b>After acceptance</b></h4>
  <b>Copyright transfer</b>
  <p>
    Authors will be asked to transfer copyright of the article to the Publisher (or grant the Publisher exclusive publication
    and dissemination rights). This will ensure the widest possible protection and dissemination of information under copyright laws.
  </p>
</div>
<div>
  <b>Proof reading</b>
  <p>
    The purpose of the proof is to check for typesetting or conversion errors and the completeness and accuracy of the text,
    tables and figures. Substantial changes in content, e.g., new results, corrected values, title and authorship, are not allowed
    without the approval of the Editor.
    After online publication, further changes can only be made in the form of an Erratum, which will be hyperlinked to the article.
  </p>
</div>

















