<div class="container-fluid">
  <p-messages [(value)]="msg"></p-messages>
  <mat-card style="background-color: #eceff1">
    <mat-card-header >
        <mat-card-title ><h2>Submission</h2></mat-card-title>
        <mat-card-subtitle>full submission</mat-card-subtitle>
    </mat-card-header>
    <div class="container" *ngIf="article">
      <div>
        <header><h5>Type, Title & Abstract</h5></header>
        <table class="table col-md-12">
          <thead class="thead-light">
          <tr class="d-flex">
            <th class="col-md-2" scope="col">Field</th>
            <th class="col-md-10" scope="col">Info</th>
          </tr>
          </thead>
          <tbody>
          <tr class="d-flex">
            <td class="col-md-2">Manuscript Type</td>
            <td class="col-md-10">{{article.type}}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Title</td>
            <td class="col-md-10">{{article.title}}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-md-2">Abstract</td>
            <td class="col-md-10">
              <p>
                {{article.abstractt}}
              </p>
            </td>
          </tr>
          <tr class="d-flex" >
            <td class="col-md-2">Attributs</td>
            <td class="col-md-10" ><label class="tags" *ngFor="let t of article.articleTags">{{t.tag.name}}</label></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div >
        <header><h5>Files</h5></header>
        <table class="table col-md-12">
          <thead class="thead-light">
          <tr class="d-flex">
            <th class="col-md-2" scope="col">File</th>
            <th class="col-md-2" scope="col">Type</th>
            <th class="col-md-8" scope="col">Link</th>
          </tr>
          </thead>
          <tbody *ngFor="let f of article.fileInfos; index as i">
          <tr class="d-flex" *ngIf="f.type !== 'review'">
            <td class="col-md-2">File {{i+1}}</td>
            <td class="col-md-2"> {{f.type}}</td>
            <td class="col-md-8"><a href="{{f.url}}" target="_blank">{{f.url}}</a></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div>
        <header><h5>Reviewer's Information</h5></header>
        <table class="table col-md-12">
          <thead class="thead-light">
          <tr class="d-flex">
            <th class="col-md-2" scope="col">Field</th>
            <th class="col-md-10" scope="col">Info</th>
          </tr>
          </thead>
          <tbody *ngFor="let a of article.userArticleDetails; index as i">
          <tr  class="d-flex" *ngIf="a.function === 'Reviewer'">
            <td class="col-md-2">Reviewer {{i+1}}</td>
            <td class="col-md-10" >
              <div>
                <a href="" class="authors"> {{a.user.firstName}} {{a.user.lastName}}</a></div>
              <mat-divider></mat-divider>
              <div class="email">{{a.user.email}}</div>
              <mat-divider></mat-divider>
              <div class="institution">{{a.user.institution}}</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card>
  <br>
  <br>
  <mat-card style="background-color: #eceff1">
    <mat-card-header>
        <mat-card-title><h2>Reviewer Space</h2></mat-card-title>
        <mat-card-subtitle style="color: red; opacity: 60%;">Note: entries are saved automatically but not submitted until you click the 'submit'
      button.Any data you enter will not be lost even if you go back or close the page</mat-card-subtitle>
    </mat-card-header>
    <br><br>
   <div class="container">
     <mat-card-title><h4>Upload your review :</h4></mat-card-title>
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-4" >
        <div class="sub-card" >
          <p-fileUpload [disabled]="finalReview.url != null"  name="file" accept=".pdf" [showUploadButton]="true"  [showCancelButton]="false"
                        mode="advanced" chooseLabel="Choose File" customUpload="true"
                        (uploadHandler)="upload($event)">
          </p-fileUpload>
          <div *ngIf="currentFile"><p-progressBar [value]="progress"></p-progressBar></div>
        </div>
    </div>
    <div class="col-md-8">
      <table class="table col-md-12 fileTable">
        <thead class="thead-light">
        <tr class=" col-md-12">
          <th width="20" scope="col">Type</th>
          <th width="80" scope="col">Name</th>
          <th width="100" scope="col">Link</th>
          <th width="10"></th>
        </tr>
        </thead>
        <tbody *ngIf="finalReview.url != null">
        <tr class=" col-md-12" >
          <td width="20" >{{finalReview.type}}</td>
          <td width="80" >{{finalReview.name}}</td>
          <td width="100" ><a href="{{finalReview.url}}" target="_blank">{{finalReview.url}}</a></td>
          <td width="10"><button mat-mini-fab color="warn" class="pi pi-trash trashBtn" (click)="deleteFile()"></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
     <mat-card-content>
       <div>
         <div class="card-title"><h4>Final Decision</h4></div>
         <div class="ui-float-label">
           <p-dropdown [options]="decisions" [(ngModel)]="finalDecision" name="type" placeholder="Select the final decision"
                       [showClear]="true"></p-dropdown>
         </div>
       </div>
       <br>
       <br>
       <div class="card-title"><h4>Additional Notes</h4></div>
       <div>
                <span class="ui-float-label" style="margin-left: 14px;">
                  <textarea [(ngModel)]="additionalNotes" name="abstract" id="float-input-abs" rows="4" pInputTextarea style="width: 100% " ></textarea>
                  <label for="float-input-abs">This field is optional</label>
                </span>
       </div>
     </mat-card-content>
</div>
  </mat-card>
  <div *ngIf="!progressBar">
      <button mat-raised-button class="float-right" color="primary" type="submit" (click)="save()">Submit</button>
      <button mat-raised-button class="float-right" [routerLink]="'../submissions'">back</button>
  </div>
  <div class="col-12 footer" *ngIf="progressBar"><mat-progress-bar mode="indeterminate" ></mat-progress-bar></div>

</div>

