
        <div class="row ">
          <div class="col-md-12">
            <p>
              Moroocan Journal of Technology (MJT) is published by the Department of Technology, Faculty of Sciences and
              Technologies (FST), Caddi Ayyad University (UCA). MJT  is a national, peer-reviewed journal that publishes
              primary research papers and preliminary results in all areas of technology.
            </p>
            <p>
              The Journal’s primary aim is to make every effort to contribute to the progress of the Moroccan technology scene.
            </p>
            <p>
              Only review articles from experts in the field will be considered for publication. The journal does not
              accept case reports.
            </p>
          </div>
        </div>
        <div class="row first-row">
          <div class="col-md-12 latest-issue">
            <span class="title">Latest Issue</span>
          </div>
          <div class="row block">
            <div class="col-md-12">
              <div class="issue">
                <div class="row">
                  <div class="col-md-12 new-article"*ngFor="let a of latestIssue.publisheds; index as i">
                      <div class="article-title">{{a.article.title}}</div>
                      <div class="article-authors">
                        <span *ngFor="let u of a.article.userArticleDetails">
                          <a href="">{{u.user.lastName}} {{u.user.lastName}}, </a>
                        </span>
                      </div>
                      <div class="volume">Vol {{latestIssue.volume.number}}, Issue {{latestIssue.number}}</div>
                    <div class="article-authors">
                        <span class="tags" *ngFor="let t of a.article.articleTags">
                          {{t.tag.name}}
                        </span>
                    </div>
                    </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row first-row">
          <div class="col-md-12 latest-issue">
            <span class="title">Most Read</span>
          </div>
          <div class="issue">
          <div class="row">
            <div class="col-md-12 "*ngFor="let a of mReadIssues.articles; index as i">{{setArticle(a)}}
              <app-issue></app-issue>
            </div>
          </div>
        </div>
