.body {
  padding-left: 40px ;
}
swiper {
  height: 300px;
  position: relative;
  margin-top: -24px;

}
.swiper-slide img{
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.swiper-wrapper {
  position: relative;
}
.latest-issue {
  font-size: 25px;
  padding: 0px;
  text-transform: uppercase;
}
.latest-issue span:hover {
  border-bottom: 3px solid #1E5991;
}
.first-row{
  padding-top: 30px ;
  margin: 0px 0px;
  position: relative;
}

.article {
  padding-left: 50px;
  padding-top: 40px;
  margin-top: 5px;
}

.second-row {
  margin-top: 40px ;
  margin-left: 15px;
  border-bottom: 3px solid black;
}
.issue {
  padding-left: 40px ;
  padding-right: 40px ;
  margin-top: 40px;
  margin-bottom: 40px;
}
.other-articles {
  margin-top: 20px;
}
.title {
  background-color: #005957;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0px 40px 7px 7px;
  box-shadow: 2px -1px 1px 1px rgba(0,0,0,0.75);
}
.description{
  padding: 40px 40px;
}
.about{
  margin-top: 30px;
}
.sub-titles div {
  margin-top: 5px;
  color: #1E5991;
  cursor: pointer;
}
.sub-titles div:hover {
  color: #0081c2;
}
.latest-issue::before {
  content: '';
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  border-top: 1px solid #005957;
  z-index: -1;
}
.first-row-block .row {
  margin-top: 20px;
}


.article-title {
  font-family: Volkhov,serif;
  font-weight: bold;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.volume {
  font-size: .75rem;
  font-weight: 700;
}
.new-article {
  padding-top: 10px;
}
.tags {
  margin-right: 10px;
  background-color: #eceff1;
  border-radius: 10px;
  padding: 0px 10px;
}
