<div class="container col-md-12">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas"></canvas>
      <h5 class="main-title"><span class="thin">Volume 40</span> Issue 2</h5>
    </div>
    <div class="col-md-12 main-body">
          <div class="row">
            <div class="col-md-8 issue-block">
              <div class="row first-row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 ">
                      <div class="row">
                        <div class="col-md-12">
                          <a class="card-header fa fa-sliders  float-right" data-toggle="collapse" href="#collapseExample"
                             aria-expanded="false" aria-controls="collapseExample" role="button" style="text-decoration: none"> Filter</a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 collapse" id="collapseExample">
                          <div class="row">
                            <div class="col-md-4 dropdown">
                              <button class="btn btn-block btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Subject
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                            </div>
                            <div class="col-md-4 dropdown">
                              <button class="btn btn-block btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Year
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                              </div>
                            </div>
                            <div class="col-md-4 "></div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row"><div class="col-md-12 latest-issue">
                    <span >All Issues</span>
                  </div></div>
                    <div class="row first-row-block">
                      <div class="col-md-12">
                        <div class="row main-article">
                          <div class="col-md-12 issue">
                              <app-issue></app-issue>
                              <div class="row options">
                                <div class="col-md-12 ">
                                  <div class="row">
                                    <div class="col-md-6">
                                      13 Apr 2020
                                    </div>
                                    <div class="col-md-6">
                                      <button class="btn btn-outline-dark fa fa-file-pdf-o float-right"> PDF</button>
                                      <button class="btn btn-outline-dark fa fa-bars float-right"> Full text</button>
                                    </div>

                                  </div>

                                </div>
                              </div>

                          </div>
                          <div class="col-md-12 issue">
                              <app-issue></app-issue>
                              <div class="row options">
                                <div class="col-md-12 ">
                                  <div class="row">
                                    <div class="col-md-6">
                                      13 Apr 2020
                                    </div>
                                    <div class="col-md-6">
                                      <button class="btn btn-outline-dark fa fa-file-pdf-o float-right"> PDF</button>
                                      <button class="btn btn-outline-dark fa fa-bars float-right"> Full text</button>
                                    </div>

                                  </div>

                                </div>
                              </div>

                          </div>
                        </div>
                      </div>
                      <div class="row previous-issues">
                        <div class="col-md-12 ">
                          <a href="" class=""><span class="fa fa-arrow-circle-left"></span> Previous Issues</a>
                        </div>
                      </div>
                    </div>

                </div>

              </div>
            </div>
            <div class="col-md-4 article">Article</div>
          </div>
        </div>
      </div>

