<div class="login-pf-page mx-auto">
  <div id="lg-header" class="login-pf-page-header">
    <img class="logo" src="../../../assets/pictures/ucalogo1.png" alt="">
  </div>
  <div class="card-pf mx-auto">
    <header class="login-pf-header">
      <h1 id="lg-page-title">Login</h1>
    </header>
    <div id="ed-lg-content" class="lg-content">
      <div id="ed-lg-content-wrapper">
        <div id="ed-lg-form">
          <div id="ed-lg-form-wrapper">
            <!-- #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" -->
            <form id="ed-lg-form-login" form="ngForm" name="form"  (ngSubmit)="login()" [formGroup]="formGroup">
              <div class="col-md-12">
                <mat-form-field class="example-full-width" style="width: 100%">
                  <mat-label>Email</mat-label>
                  <input name="email"  matInput [(ngModel)]="form.email" formControlName="email"
                         placeholder="Re-enter your primary email" required>
                  <mat-hint>Errors appear instantly!</mat-hint>
                  <mat-error *ngIf="email.hasError('email') &&
                        !email.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-12">
                <mat-form-field class="example-full-width" style="width: 100%">
                  <mat-label>Password</mat-label>
                  <input matInput [(ngModel)]="form.password" formControlName="pwd" type="password"
                         placeholder="Enter your Password" >
                  <mat-error *ngIf="pwd.hasError('required')">
                    Password is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-group login-pf-settings">
                <div id="ed-lg-form-options">
                </div>
                <div class="">
                  <span class="lg-forgot float-right"><a tabindex="5" >Forgot your password?</a></span>
                </div>
              </div>

              <div id="ed-lg-form-buttons" class="form-group">
                <button mat-raised-button *ngIf="!showProgressBar()" [disabled]="enable()" type="submit" color="primary" class="btn btn-block" >LOG IN</button>
                <span *ngIf="showProgressBar()"><mat-progress-bar mode="indeterminate"></mat-progress-bar></span>
              </div>
            </form>
          </div>
        </div>

        <div id="ed-lg-info" class="login-pf-signup">
          <div id="ed-lg-info-wrapper" class="">
            <div id="ed-lg-registration">
              <span>Don't have an account? <a tabindex="6" href="">Sign up</a></span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
