.issue {
  padding-left: 40px ;
  padding-right: 40px ;
  margin-top: 40px;
  margin-bottom: 40px;
}
.article-title {
  font-family: Volkhov,serif;
  font-weight: bold;
  font-size: 20px;
}
.article-authors {
  padding-top: 5px;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
  margin-right: 4px;
}
.volume {
  font-size: .75rem;
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.other-articles {
  margin-top: 20px;
}
.article:hover {

  box-shadow: inset 1px 1px 4px -1px rgba(30,89,145,0.42);
}
