<div class="issue">
  <div class="row main-article">
    <div class="col-md-12 article">
      <div class="article-title"><a href="">Breast arterial calcification on mammography does not predict coronary
        artery disease by invasive coronary angiography</a></div>
      <div class="article-authors">
        <a href="">Ahmed L. Fathala,</a>
        <a href="">Fatoun Alfaer,</a>
        <a href="">Alaa Aldurabi,</a>
        <a href="">Mohammed Shoukri</a>
      </div>
      <div class="volume">Volume 40, Issue 2</div>
    </div>
  </div>
  <div class="row other-articles">
    <div class="col-md-6 article">
      <div class="article-title"><a href="">Breast arterial calcification on mammography does not predict coronary
        artery disease by invasive coronary angiography</a></div>
      <div class="article-authors">
        <a href="">Ahmed L. Fathala,</a>
        <a href="">Fatoun Alfaer,</a>
        <a href="">Alaa Aldurabi,</a>
        <a href="">Mohammed Shoukri</a></div>
      <div class="volume">Volume 40, Issue 2</div>
    </div>
    <div class="col-md-6 article">
      <div class="article-title"><a href="">Breast arterial calcification on mammography does not predict coronary
        artery disease by invasive coronary angiography</a></div>
      <div class="article-authors">
        <a href="">Ahmed L. Fathala,</a>
        <a href="">Fatoun Alfaer,</a>
        <a href="">Alaa Aldurabi,</a>
        <a href="">Mohammed Shoukri</a>
      </div>
      <div class="volume">Volume 40, Issue 2</div>
    </div>
  </div>
</div>
