
.article-title {
  font-family: Volkhov,serif;
  font-weight: bold;
  font-size: 20px;
}
.article-authors {
  padding-top: 5px;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: black;
  margin-right: 4px;
}
.volume {
  font-size: .75rem;
  font-weight: 700;
  padding-bottom: 5px;
}

