<div class="col-md-12 associations">
  <span>Associted with </span>
  <a href="https://www.uca.ma/" target="_blank"><img class="uca" src="../../assets/pictures/ucaLogo.png" alt=""></a>
  <a href="http://www.fstg-marrakech.ac.ma/" target="_blank"><img class="fst" src="../../assets/pictures/fstlogo.jpg" alt=""></a>
  <div >
    <a href="" target="_blank"><div class="fa fa-facebook fa-lg"></div></a>
    <a href="" target="_blank"><div class="fa fa-instagram fa-lg"></div></a>
    <a href="" target="_blank"><div class="fa fa-twitter fa-lg"></div></a>
  </div>
</div>

<div class="footer">
  <div >
    <a href="" target="_blank"><div>Privacy Policy</div></a>
    <a href="" target="_blank"><div>Terms of Use</div></a>
    <a href="" target="_blank"><div>Contact</div></a>
  </div>
</div>
