<p-steps [model]="items"  [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
<div class="container">
  <div class="row" >
    <div class="col-12" [ngSwitch]="value">
      <div *ngSwitchDefault>
        <form action="">
          <div class="card">
            <div class="card-header"><h2>Step 1: Type, Title And Abstract</h2></div>
            <div class="card-body">
              <hr>
                <div class="card-title"><h4>Type</h4>Select your manuscript type </div>
              <div style="padding-left: 20px">
                <div><p-radioButton name="groupname" value="original" [(ngModel)]="selectedValue" label="Original Research"></p-radioButton></div>
                <div><p-radioButton name="groupname" value="comm" [(ngModel)]="selectedValue" label="Rapid Communications"></p-radioButton></div>
                <div><p-radioButton name="groupname" value="review" [(ngModel)]="selectedValue" label="Review Article"></p-radioButton></div>
                <div><p-radioButton name="groupname" value="case" [(ngModel)]="selectedValue" label="Case Studies"></p-radioButton></div>
              </div>
              <hr>
              <div class="card-title"><h4>Title</h4></div>
              <div>
                <span class="ui-float-label">
                  <textarea id="float-input" maxlength="120" rows="1" pInputTextarea style="width: 100% "></textarea>
                  <label for="float-input">Enter your manuscript's title (max : 120 characters)</label>
                </span>
              </div>
              <hr>
              <div class="card-title"><h4>Abstract</h4></div>
              <div>
                <span class="ui-float-label">
                  <textarea id="float-input-abs" maxlength="120" rows="4" pInputTextarea style="width: 100% " ></textarea>
                  <label for="float-input-abs">Enter your abstract (max : 500 words)</label>
                </span>
              </div>
              <hr>
            </div>
            <div class="card-footer">
              <button class="btn btn-block btn-success " (click)="changeIndex(1)">Save</button>
            </div>
          </div>
        </form>
      </div>

      <div *ngSwitchCase="'1'">
        <button class="btn btn-light" (click)="changeIndex(0)"><span class="pi pi-angle-left"></span> back</button>
        <form action="">
          <div class="card">
            <div class="card-header">
              <h2>Step 2: File Upload </h2>
            </div>
            <div class="card-body ">
                <div class="row">
                  <div class="col-md-6 col-6">
                    <div class="card sub-card">
                      <div>
                        <p-dropdown [options]="types" placeholder="Select your item's type" [showClear]="true"></p-dropdown>
                      </div>
                      <div>
                        <p-fileUpload name="pdf" accept=".pdf" [showUploadButton]="false"  [showCancelButton]="false"
                                      mode="advanced" chooseLabel="Upload File" (onUpload)="onUpload($event)">
                        </p-fileUpload>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-6">
                    <div class="card sub-card">
                      <div>
                        <p-dropdown [options]="types" placeholder="Select your item's type" [showClear]="true"></p-dropdown>
                      </div>
                      <div>
                        <p-fileUpload [showUploadButton]="false"  [showCancelButton]="false"
                                      mode="advanced" chooseLabel="Upload File" (onUpload)="onUpload($event)">
                        </p-fileUpload>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-6 col-6">
                  <div class="card sub-card">
                    <div>
                      <p-dropdown [options]="types" placeholder="Select your item's type" [showClear]="true"></p-dropdown>
                    </div>
                    <div>
                      <p-fileUpload  [showUploadButton]="false"  [showCancelButton]="false"
                                    mode="advanced" chooseLabel="Upload File" (onUpload)="onUpload($event)">
                      </p-fileUpload>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-6">
                  <div class="card sub-card">
                    <div>
                      <p-dropdown [options]="types" placeholder="Select your item's type" [showClear]="true"></p-dropdown>
                    </div>
                    <div>
                      <p-fileUpload [showUploadButton]="false"  [showCancelButton]="false"
                                    mode="advanced" chooseLabel="Upload File" (onUpload)="onUpload($event)">
                      </p-fileUpload>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-block btn-success " (click)="changeIndex(2)">Save</button>
            </div>
          </div>
        </form>
      </div>


      <div *ngSwitchCase="'2'">
        <button class="btn btn-light" (click)="changeIndex(1)"><span class="pi pi-angle-left"></span> back</button>
        <form action="">
          <div class="card">
            <div class="card-header"><h2>Step 3: Attributes</h2></div>
            <div class="card-body">
              <p-messages [(value)]="msgs"></p-messages>
              <div class="row">
                <div class="col-6">
                  <div class="picklist">
                    <p-pickList [source]="sourceTags" [target]="targetTags" [showSourceControls]="false"
                                [showTargetControls]="false" sourceHeader="Available" targetHeader="Selected" [responsive]="true"
                                dragdrop="true" sourceFilterPlaceholder="Search For An Attribute" [showTargetFilter]="false"
                                filterBy="label" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                      <ng-template let-s  pTemplate="item">
                        <div class="ui-helper-clearfix">
                          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{s.label}}</div>
                        </div>
                      </ng-template>
                    </p-pickList>
                  </div>
                  <div class="pickList-btns">
                    <button class="float-right" type="button"  pButton (click)="addToList()" label="Add"></button>
                    <button class="float-right" type="button" pButton (click)="resetFilter()" label="Reset"></button>
                  </div>
                </div>
                <div class="col-3">
                  <h4>Additional Tags</h4>
                  <div class="ui-inputgroup">
                    <input [(ngModel)]="additionalTags" name="additionalTags" type="text" pInputText placeholder="New Tag">
                    <button (click)="addAdditional()" pButton type="button" label="Add"></button>
                  </div>
                </div>
                <div class="col-3">
                  <table class="table">
                    <thead class="thead" style="background-color: #5785c2">
                    <tr>
                      <th style="color: white; text-align: center">Chosen Attributes </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let t of finalTagsList">
                      <th >{{t}}</th>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-block btn-success " (click)="changeIndex(3)">Save</button>
            </div>
          </div>
        </form>
      </div>



      <div *ngSwitchCase="'3'">
        <button class="btn btn-light" (click)="changeIndex(2)"><span class="pi pi-angle-left"></span> back</button>
        <form action="">
          <div class="card">
            <div class="card-header"><h2>Step 4: Authors & Institutions</h2></div>
            <div class="card-body">
            <!--   -->
              <table class="table">
                <thead class="thead" style="background-color: #5785c2">
                <tr>
                  <th style="color: white">ORDER</th>
                  <th style="color: white">AUTHOR</th>
                  <th style="color: white">INSTITUTION</th>
                  <th style="color: white"></th>
                </tr>
                </thead>
                <tbody>
                <tr >
                  <th>1</th>
                  <th>Name of current user</th>
                  <th>His Institution His Institution His Institution His Institution His Institution </th>
                  <th></th>
                </tr>
                <tr >
                  <th ></th>
                  <th ></th>
                  <th ></th>
                  <th ></th>
                </tr>
                </tbody>
              </table>
              <button type="button" pButton icon="pi pi-plus" label="Add A new Author" (click)="showDialog()"></button>
              <p-dialog [style]="{width: '60vw'}" [(visible)]="display"  [resizable]="true">
                <p-header><h2>Add Author</h2></p-header>
                <form [formGroup]="authForm">
                  <p-card>
                    <p-header><h4 style="padding: 15px 15px">Personal Information</h4></p-header>
                    <div class="row">
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                          <mat-label>Prefix</mat-label>
                          <select matNativeControl required>
                            <option value="Dr">Dr.</option>
                            <option value="Mr">Mr.</option>
                            <option value="Miss">Miss</option>
                            <option value="Mrs">Mrs.</option>
                            <option value="Ms">Ms.</option>
                            <option value="Prof">Prof.</option>
                          </select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>First Name</mat-label>
                          <input formControlName="firstName" matInput placeholder="Enter the author's first name" required>
                          <mat-error *ngIf="firstName.hasError('required')">
                            First Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <mat-form-field class="example-full-width">
                          <mat-label>Middle Name</mat-label>
                          <input matInput placeholder="Enter the author's middle name" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Last Name</mat-label>
                          <input formControlName="lastName" matInput placeholder="Enter the author's last name" required>
                          <mat-error *ngIf="lastName.hasError('required')">
                            Last Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="email" [errorStateMatcher]="matcher"
                                 placeholder="Re-enter the author's primary email" required>
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error *ngIf="email.hasError('email') &&
                        !email.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="email.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Email</mat-label>
                          <input matInput formControlName="emailConf" [errorStateMatcher]="matcher"
                                 placeholder="Re-enter the author's primary email" required>
                          <mat-hint>Errors appear instantly!</mat-hint>
                          <mat-error *ngIf="emailConf.hasError('email') &&
                        !emailConf.hasError('required')">
                            Please enter a valid email address
                          </mat-error>
                          <mat-error *ngIf="emailConf.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Degree</mat-label>
                          <input matInput placeholder="Enter the author's degree" >
                        </mat-form-field>
                      </div>
                    </div>
                    <p-card>
                      <p-header>
                        <h5 style="padding: 15px 15px">Adress</h5>
                      </p-header>
                      <div class="row">
                        <div class="col-md-5">
                          <mat-form-field class="example-full-width">
                            <mat-label>Adress</mat-label>
                            <input matInput placeholder="Enter the author's adress" >
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Country / Region</mat-label>
                            <input matInput placeholder="Enter the author's country / region" >
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>State / Province</mat-label>
                            <input matInput placeholder="Enter the author's state / province" >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Enter the author's city" >
                          </mat-form-field>
                        </div>
                        <div class="col-md-2">
                          <mat-form-field class="example-full-width">
                            <mat-label>Postal Code</mat-label>
                            <input matInput placeholder="Enter the author's postal code" >
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Enter the author's phone" >
                          </mat-form-field>
                        </div>
                        <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <mat-label>Fax</mat-label>
                            <input matInput placeholder="Enter the author's fax" >
                          </mat-form-field>
                        </div>
                      </div>
                    </p-card>
                  </p-card>
                  <hr>
                  <p-card>
                    <p-header><h4 style="padding: 15px 15px">Institution</h4></p-header>
                    <div class="row">
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <mat-label>Institution Name</mat-label>
                          <input formControlName="institution" matInput placeholder="Enter the author's institution's Name" required>
                          <mat-error *ngIf="institution.hasError('required')">
                            Institution's Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Department</mat-label>
                          <input  matInput placeholder="Enter the author's department" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Full Adress</mat-label>
                          <input  matInput placeholder="Enter the institution's full adress" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field class="example-full-width">
                          <mat-label>Phone/Fax Number</mat-label>
                          <input matInput placeholder="Enter the institution's phone/fax number" >
                        </mat-form-field>
                      </div>
                    </div>
                  </p-card>
                </form>
                <p-footer >
                  <button class="btn btn-block btn-primary float-right">Add New Author</button>
                  <button class="btn btn-block btn-outline-light float-right" style="color: #555555">Cancel</button>
                </p-footer>
              </p-dialog>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-block btn-success " (click)="changeIndex(4)">Save</button>
          </div>
        </form>
      </div>

      <div *ngSwitchCase="'4'">
        <button class="btn btn-light" (click)="changeIndex(3)"><span class="pi pi-angle-left"></span> back</button>
        <div class="card">
          <div class="card-header"><h2>Step 6: Details & Comments</h2></div>
          <div class="card-body">
            <form action="">
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <label ><b>Was there any funding to report for this submission ?</b></label>
                  <div>
                    <mat-radio-group aria-label="Select an option" required>
                      <mat-radio-button name="funds" value="yes">Yes</mat-radio-button>
                      <mat-radio-button name="funds" value="no">No</mat-radio-button>
                    </mat-radio-group>
                  </div></div>
                <div class="col-md-6">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Funder</th>
                      <th>Sum ( $ )</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><button class="pi pi-plus" (click)="showDialog()"></button></td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                  <p-dialog [style]="{width: '30vw'}" [(visible)]="display"  [resizable]="true">
                    <p-header>Add A Funder</p-header>
                    <p-card>
                      <div class="row">
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Funder</mat-label>
                          <input matInput placeholder="Enter the funder's name" >
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field class="example-full-width">
                          <mat-label>Amount</mat-label>
                          <input matInput placeholder="Enter the funding's amount" >
                        </mat-form-field>
                      </div>
                      </div>
                    </p-card>
                    <p-footer>
                      <button class="btn btn-block btn-primary float-right">Add New Funder</button>
                    </p-footer>
                  </p-dialog>
                </div>
              </div>
              <hr>
              <div class="row">
                Policies  to be added later
              </div>
              <div class="card-footer">
                <button class="btn btn-block btn-success " (click)="changeIndex(5)">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'5'">

      </div>

    </div>

  </div>
</div>

