.ui-steps .ui-steps-item {
  width: 16%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

body .ui-fileupload .ui-fileupload-buttonbar {
  background-color: #FFFFFF;
  border: none;
}
body .ui-fileupload .ui-fileupload-content{
  border: none;
  margin-bottom: 30px;
}
.ui-fileupload-row>div {
  display: inline-block;
  padding-top: 5px;

}
.sub-card {
  border: none;
}
.sub-card div, .ui-fileupload-row {
  text-align: center;
  display: block;
}
.pickList-btns button {
  margin-top: 15px;
  margin-left: 15px;
}
.picklist{
  height: 335px;
}
@media (max-width: 720px) {
  .picklist{
    height: auto;
  }
}
h2 {
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #007ad9;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #007ad9;
}
.pol-check {
  display: block;
  text-align: center;
  margin-top: 50%;
}
.ui-g {
  padding: 10px 30px;
}
.polgrid {
  border: 1px solid grey;
}
.example-button-row{
  float: right;
  padding: 10px 30px;
}
.abstract {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}
.showMore{
  color: dodgerblue;
  cursor: pointer;
}
.tags {
  margin-right: 10px;
  background-color: #eceff1;
  border-radius: 10px;
  padding: 0px 10px;
}
mat-card-content {
  padding: 5px 10px;
}
mat-card-title .mat-raised-button {
  line-height: 5px;
  padding: 5px 5px ;
}
.edit-btn {
  font-size: 15px;
  margin-bottom: 5px;
}
.mat-button-wrapper{
  font-family: Roboto,Helvetica Neue,sans-serif;
}
mat-card-content .ui-g div {
  border: 1px solid lightgray;
  text-align: center;
  margin-top: 1px;
}
